section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px; 
}

section h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Recursive', sans-serif;
}

section p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 600px;
    text-align: center;
    font-family: 'Recursive', sans-serif;
}

section button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #038989;
    color: white;
    border: none;
    border-radius: 5px;
}