@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300..1000&display=swap');

.hero {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.hero-img {
    width: 50%;
    height: 100%;
}

.hero-img img {
    width: 300px;
    height: 300px;
    border-radius: 10%;
}

.hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    text-align: center;
}

.hero-text h1 {
    font-size: 5em;
    font-weight: bold;
}

.hero-text p {
    font-size: 2em;
}