.navbar {
    display: flex;
    width: 450px;
    height: 50px;
    border-radius: 25px;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto 0;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(12px);
}

button a {
    text-decoration: none;
    color: black;
    background-color: transparent;
}

.innerNavbarButtonsStyle {
    margin-right: 2px;
    margin-left: 2px;
    border-radius: 8px;
}

.outerNavbarButtonsStyle {
    margin-right: 2px;
    margin-left: 2px;
    border-radius: 8px;
}

.outerNavbarButtonsStyle.contactButton:hover {
    background-color: darkcyan;
}

.outerNavbarButtonsStyle.contactButton:active {
    background-color: rgb(0, 95, 95);
}